<body>
  <ul class="nav-list">
    <li>
      <button 
       class="nav-link btnVert"
       (click)="initRecette()">
       Classique
       </button>
    </li>
    <li>
      <button class="nav-link btnVert"
    (click)="initRecetteVegan()">
      Vegan
    </button>
    </li>
    <li>
     <button class="nav-link btnVert"
     (click)="initRecetteVegetarien()">
      Végétarien
     </button>
    </li>
    <li>
     <button class="nav-link btnVert" 
     (click)="initRecetteDeSaison(11)">
        De saison
      </button>
    </li>
  </ul>

  <div  class="wrapper">
    
    <ul class="auto-grid">
      <li *ngFor="let p of recettes">
        <ul>{{ p.name }}</ul>
        <ul>note {{ p.note }}</ul>
        <ul>Temps de préparation {{ p.tempsDeCuisine }}</ul>
        <ul>
          <a routerLink="/recette/detail/{{ p.id }}" routerLinkActive="active"
            >plus de details</a
          >
        </ul>
        <ul>
          <a 
          routerLink="/recette/edit/{{ p.id }}" 
          routerLinkActive="active"
            >editer</a
          >
        </ul>
        <ul>
          <button class="btn btn-outline-danger" (click)="delete(p.id!)">
            supprimer
          </button>
        </ul>
      </li>
    </ul>
  </div>
  <a routerLink="/recette/edit" routerLinkActive="active">nouvelle recette</a>
</body>
