body {
  margin-top: 10%;
}
.nav-list .btnVert {
  font-size: 25px;
  color: white;
  background-color: rgba(102, 172, 38, 1);
  border-radius: 12px;
  text-decoration: none;
  padding-left: 12%;
  padding-right: 12%;
  padding-top: 4px;
  padding-bottom: 4px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.nav-list {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 12px;
  padding: 12px;
  list-style: none;
}

.auto-grid {
  --auto-grid-min-size: 16rem;
  
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
  grid-gap: 1rem;
}

.wrapper {
  max-width: 65rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.liste_recettes {
  background: white;
  padding: 1rem 0;
  line-height: 1.4;
  font-family: sans-serif;
}

.recette {
  padding: 5rem 1rem;
  text-align: center;
  font-size: 1.2rem;
  background: #be2edd;
  color: #ffffff;
}