<body>
  <ul class="nav-list">
    <li>
      <button class="nav-link btnVert" (click)="initRecette()">
        Classique
      </button>
    </li>
    <li>
      <button class="nav-link btnVert" (click)="initRecetteVegan()">
        Vegan
      </button>
    </li>
    <li>
      <button class="nav-link btnVert" (click)="initRecetteVegetarien()">
        Végétarien
      </button>
    </li>
    <li>
      <button class="nav-link btnVert" (click)="initRecetteDeSaison(11)">
        De saison
      </button>
    </li>
  </ul>
  <div class="liste_recettes">
    <div class="wrapper">
      <div class="auto-grid">
        <div class="recette" *ngFor="let p of recettes">
          <a
            class="nav-link"
            routerLink="/recette/details/{{ p.id }}"
            routerLinkActive="active"
            ><img
            src="assets/images/{{ p.id }}.jpg" onerror="this.src='assets/images/discuissonLogo.png';"
              width="300px"

          /></a>

          <ul>
            {{p.name}}
          </ul>
          <ul>
            Note
            {{p.note}}
          </ul>
          <ul>
            Préparation: {{p.tempsDeCuisine}}
          </ul>
          <div class="liste_bouton">
            <ul >
              <a class="btn btn-light" routerLink="/recette/edit/{{ p.id }}" routerLinkActive="active"
                >editer</a
              >
            </ul>
            <ul >
              <button class="btn btn-light" (click)="delete(p.id!)">
                supprimer
              </button>
            </ul>
          </div>

        </div>
      </div>
    </div>
  </div>
</body>

<div class="test">
  <a class="button" routerLink="/recette/edit" routerLinkActive="active">Proposer une nouvelle recette</a>
</div>
