<body>
  <td>
    <button class="btn btn-outline-danger" (click)="initRecette()">
      normal
    </button>
  </td>
  <td>
    <button class="btn btn-outline-danger" (click)="initRecetteVegan()">
      vegan
    </button>
  </td>
  <td>
    <button class="btn btn-outline-danger" (click)="initRecetteVegetarien()">
      vegetarien
    </button>
  </td>
  <table class="table">
    <thead>
      <tr>
        <th>id:</th>
        <th>name:</th>
        <th>note:</th>
        <th>tempsDeCuisine:</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of recettes">
        <td>{{ p.id }}</td>
        <td>{{ p.name }}</td>
        <td>{{ p.note }}</td>
        <td>{{ p.tempsDeCuisine }}</td>
        <td>
          <a routerLink="/recette/edit/{{ p.id }}" routerLinkActive="active"
            >plus de details</a
          >
        </td>
        <td>
          <a routerLink="/recette/details/{{ p.id }}" routerLinkActive="active"
            >editer</a
          >
        </td>
        <td>
          <button class="btn btn-outline-danger" (click)="delete(p.id!)">
            supprimer
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <a routerLink="/recette/edit" routerLinkActive="active">nouvelle recette</a>
</body>
