<body>
  <div>
    <h1>Mon frigo</h1>
    <img src="assets/images/frigo-sans-bg.png" alt="frigo" />
  </div>
  <div>
    <table class="table">
      <thead>
        <tr>
          <th>nom:</th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of ingredients">
          <ng-container *ngIf="getQuantite(p.id!)">
            <td>{{ p.name }}</td>
            <td>
              <button (click)="ajouterPanier(p.id!)" class="btn btn-link">
                plus
              </button>
            </td>
            <ng-container *ngIf="getQuantite(p.id!)"
              ><td>{{ getQuantite(p.id!) }}{{ p.unite }}</td>
              <td>
                <button (click)="retirerPanier(p.id!)" class="btn btn-link">
                  moins
                </button>
              </td>
              <td>
                <button (click)="supprimerPanier(p.id!)" class="btn btn-link">
                  poubelle
                </button>
              </td>
            </ng-container>
          </ng-container>
        </tr>
        <tr *ngFor="let p of ingredients">
          <ng-container *ngIf="!getQuantite(p.id!)">
            <td>{{ p.name }}</td>
            <td>
              <button (click)="ajouterPanier(p.id!)" class="btn btn-link">
                plus
              </button>
            </td>
          </ng-container>
        </tr>
      </tbody>
    </table>
    <a
      routerLink="/achat/validation"
      routerLinkActive="active"
      class="btn btn-link"
      >valider panier</a
    >
  </div>
</body>
