<body>
  <div id="div-a1">
    <span id="div-b1"></span>
    <div id="div-b2">
      <form (ngSubmit)="chercher()" [formGroup]="form">
        <ng-container formGroupName="groupeing">
          <div id="div-c1">
            <input
              formControlName="search"
              class="form-control"
              placeholder="Cherche-moi parmi les ingrédients"
            />
            <button class="btn btnVert" type="submit">Je cherche!</button>
            <a (click)="reinit()" class="btn-a"
              ><span style="color: white">Voir tous les ingrédients</span></a
            >
            <a (click)="deleteFrigo()" class="btn-a"
              ><span style="color: white">Réinitialiser mon frigo</span></a
            >
            <a
              routerLink="/frigo/selection"
              routerLinkActive="active"
              class="btn-a"
              style="width: 300px"
              ><span style="color: white">Voir mes recettes</span></a
            >
          </div>
        </ng-container>
      </form>
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let p of ingredients">
            <ng-container *ngIf="getQuantite(p.id!)">
              <td>{{ p.name }}</td>
              <td>
                <a (click)="ajouterPanier2(p.id!)">
                  <img
                    src="assets/images/image-frigo/plusPlusVert-sans-bg.png"
                    width="30px"
                    alt=""
                  />
                </a>
              </td>

              <td>
                <a (click)="ajouterPanier(p.id!)">
                  <img
                    src="assets/images/image-frigo/plusVert-sans-bg.png"
                    width="30px"
                    alt=""
                  />
                </a>
              </td>

              <ng-container *ngIf="getQuantite(p.id!)"
                ><td>{{ getQuantite(p.id!) }}{{ p.unite }}</td>
                <td>
                  <a (click)="retirerPanier(p.id!)">
                    <img
                      style="padding-top: 2%"
                      src="assets/images/image-frigo/moinsVert-sans-bg.png"
                      width="30px"
                      alt=""
                    />
                  </a>
                </td>
                <td>
                  <a (click)="retirerPanier2(p.id!)">
                    <img
                      style="padding-top: 2%"
                      src="assets/images/image-frigo/moinsMoinsVert-sans-bg.png"
                      width="30px"
                      alt=""
                    />
                  </a>
                </td>
                <td>
                  <a (click)="supprimerPanier(p.id!)">
                    <img
                      style="padding-top: 2%"
                      src="assets/images/image-frigo/poubelleVert-sans-bg.png"
                      width="30px"
                      alt=""
                    />
                  </a>
                </td>
              </ng-container>
            </ng-container>
          </tr>
          <tr *ngFor="let p of ingredients">
            <ng-container *ngIf="!getQuantite(p.id!)">
              <td>{{ p.name }}</td>
              <a (click)="ajouterPanier2(p.id!)">
                <img
                  src="assets/images/image-frigo/plusPlusVert-sans-bg.png"
                  width="30px"
                  alt=""
                />
              </a>
              <td>
                <a (click)="ajouterPanier(p.id!)">
                  <img
                    src="assets/images/image-frigo/plusVert-sans-bg.png"
                    width="30px"
                    alt=""
                  />
                </a>
              </td>
            </ng-container>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <app-frigo-background></app-frigo-background>
</body>
