<nav class="navbar navbar-expand-sm bg-light navbar-light">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home" routerLinkActive="active"
          >DISCUISSON</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/home" routerLinkActive="active"
          >home</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/concept" routerLinkActive="active"
          >Le concept</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/recettes" routerLinkActive="active"
          >Les Recettes</a
        >
      </li>
        <li class="nav-item">
        <a *ngIf="vip" class="nav-link" routerLink="/frigo" routerLinkActive="active"
          >Frigo</a
        >
      </li>
        <li class="nav-item">
        <a *ngIf="vip" class="nav-link" routerLink="/messagerie" routerLinkActive="active"
          >Ma messagerie</a
        >
      </li>
      <li class="nav-item">
        <a
          *ngIf="anonymous"
          class="nav-link"
          routerLink="/inscription"
          routerLinkActive="active"
          >inscription</a
        >
      </li>
       <li class="nav-item">
        <a
          *ngIf="anonymous"
          class="nav-link"
          routerLink="/login"
          routerLinkActive="active"
          >connexion</a
        >
      </li>


      <li *ngIf="authenticated" class="nav-item">
        <button class="btn btn-link nav-link" (click)="logoff()">
          deconnexion
        </button>
      </li>
    </ul>
  </div>
</nav>
