

body {
  position: fixed;
  top: 0%;
  background-color: rgba(255, 255, 255, 0);
  height: 100%;
  width: 100%;
}

body div {
  margin-top: 3%;
  display: flex;
  justify-content: center;
}



/*.btnVert {
  font-size: 30px;
  color: white;
  background-color: rgba(102, 172, 38, 1);
  border-radius: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  text-decoration: none;
}*/

a {
  border: none;
  display: block;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  position: relative;
  color: #eeeeee;
  font-weight: 600;
  font-size: 15px;
  background-color: rgba(102, 172, 38, 1);
  padding: 15px 50px;
  margin: 0 auto;
}
a span {
  position: relative;
  z-index: 1;
}
a:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 470%;
  width: 140%;
  background: rgba(224, 125, 42, 1);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translateX(-100%) translateY(-25%) rotate(45deg);
  transform: translateX(-100%) translateY(-25%) rotate(45deg);
}
a:hover:after {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}

#bonjour {
  background-color: rgba(224, 125, 42, 1);}
