<app-page-home-background></app-page-home-background>
<body>

  <div>
    <img src="assets/images/image-home/logoDiscuisson2.png" alt="Logo" />
  </div>
  <div>
    <a id="bonjour" class="nav-link btnVert"
      > <span> Bonjour {{nom}} !</span> </a
    >
  </div>
  <div>
    <a class="nav-link btnVert" routerLink="/concept" routerLinkActive="active"
      ><span>C'est quoi Discuisson?</span></a
    >
  </div>

  <div>
    <a class="nav-link btnVert" routerLink="/userVIP" routerLinkActive="active"
      ><span>C'est quoi être VIP?</span></a
    >
  </div>
</body>
