<app-page-home-background></app-page-home-background>
<body>

  <div>
    <img src="assets/images/image-home/logoDiscuisson2.png" alt="Logo" />
  </div>
  <div>
    <a id="bonjour" class="nav-link btnVert"
      >Bonjour {{nom}} !</a
    >
  </div>
  <div>
    <a class="nav-link btnVert" routerLink="/concept" routerLinkActive="active"
      >C'est quoi Discuisson?</a
    >
  </div>

  <div>
    <a class="nav-link btnVert" routerLink="/userVIP" routerLinkActive="active"
      >C'est quoi être VIP?</a
    >
  </div>
</body>
