<div id="background">
  <div id="formulaire">
    <form (ngSubmit)="save()" #form="ngForm">
      <div class="divCentreFlex">
        <div id="backgroundH2">
          <h2 *ngIf="!recette.id">Création d'une recette</h2>
          <h2 *ngIf="recette.id">Mise à jour d'une recette</h2>
        </div>
      </div>

      <div class="form-group" *ngIf="recette.id">
        <div class="divACoteFlex">
          <div class="text">Id recette:</div>
          <input
            class="form-control"
            name="id"
            id="id"
            [(ngModel)]="recette.id"
            readonly
          />
        </div>
      </div>

      <div class="form-group">
        <div class="divACoteFlex">
          <div class="text">Nom de la recette:</div>
          <input
            class="form-control"
            name="name"
            id="name"
            [(ngModel)]="recette.name"
            required
            #nameCtrl="ngModel"
          />
        </div>
        <div
          *ngIf="nameCtrl.dirty && nameCtrl.invalid"
          class="alert alert-danger"
        >
          Tu as oublié le nom :o
        </div>
      </div>

      <div class="form-group">
        <div class="divACoteFlex">
          <div class="text">Nombre de calorie:</div>
          <input
            type="number"
            class="form-control"
            name="calorie"
            id="calorie"
            [(ngModel)]="recette.calorie"
            placeholder="Précision: pour une portion d'une personne"
            required
            #calorieCtrl="ngModel"
          />
        </div>
        <div
          *ngIf="calorieCtrl.dirty && calorieCtrl.invalid"
          class="alert alert-danger"
        >
          Tu as oublié les calories :o
        </div>
      </div>

      <div class="form-group">
        <div class="divACoteFlex">
          <div class="text">La saison commence en:</div>
          <select
            class="form-select"
            aria-label="Default select example"
            name="debutSaison"
            id="debutSaison"
            [(ngModel)]="recette.debutSaison"
          >
            <option value="1">Janvier</option>
            <option value="2">Février</option>
            <option value="3">Mars</option>
            <option value="4">Avril</option>
            <option value="5">Mai</option>
            <option value="6">Juin</option>
            <option value="7">Juillet</option>
            <option value="8">Août</option>
            <option value="9">Septembre</option>
            <option value="10">Octobre</option>
            <option value="11">Novembre</option>
            <option value="12">Décembre</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <div class="divACoteFlex">
          <div class="text">La saison fini en:</div>
          <select
            class="form-select"
            aria-label="Default select example"
            name="finSaison"
            id="finSaison"
            [(ngModel)]="recette.finSaison"
          >
            <option value="1">Janvier</option>
            <option value="2">Février</option>
            <option value="3">Mars</option>
            <option value="4">Avril</option>
            <option value="5">Mai</option>
            <option value="6">Juin</option>
            <option value="7">Juillet</option>
            <option value="8">Août</option>
            <option value="9">Septembre</option>
            <option value="10">Octobre</option>
            <option value="11">Novembre</option>
            <option value="12">Décembre</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <div class="divACoteFlex">
          <div class="text">Commentaires :</div>
          <input
            class="form-control"
            name="commentaires"
            id="commentaires"
            [(ngModel)]="recette.commentaires"
            placeholder="Votre commentaire"
            required
            #commentairesCtrl="ngModel"
          />
        </div>
      </div>

      <div class="form-group">
        <div class="divACoteFlex">
          <div class="text">Note :</div>
          <input
            type="number"
            class="form-control"
            name="note"
            id="note"
            [(ngModel)]="recette.note"
            placeholder="votre note de 1 à 5"
            required
            #calorieCtrl="ngModel"
          />
        </div>
      </div>

      <div class="form-group">
        <div class="divACoteFlex">
          <div class="text">Temps de préparation :</div>
          <input
            type="time"
            class="form-control"
            name="tempsDeCuisine"
            id="tempsDeCuisine"
            [(ngModel)]="recette.tempsDeCuisine"
            required
            #tempsDeCuisineCtrl="ngModel"
          />
        </div>
        <div
          *ngIf="tempsDeCuisineCtrl.dirty && tempsDeCuisineCtrl.invalid"
          class="alert alert-danger"
        >
          Tu as oublié le temps de préparation :o
        </div>
      </div>
      <!--**************************************Ingredient **********************************-->
      <!--afficher/supprimer ingredient de la recette-->
      <div id="list_ingredient" *ngIf="id">
        <p class="text">Liste des ingredients :</p>

        <ng-container *ngFor="let p of recette.recetteIngredients">
          <p>
            {{ p.quantite }}{{ p.ingredient!.unite }} de
            {{ p.ingredient!.name }}
          </p>
          <td>
            <button (click)="deleteRecetteIngredient(p.id!)">supprimer</button>
          </td>
        </ng-container>
        <td></td>
        <!--ajouter un ingredient-->
        <h2>Ajout d'un ingredient</h2>
        <form (ngSubmit)="saveRecetteIngredient()" #form="ngForm">
          <div class="form-group">
            <div class="divACoteFlex">
              <div class="text">Ingredient:</div>
              <select
                class="form-control"
                name="recetteIngredient.ingredient"
                [(ngModel)]="recetteIngredient.ingredient"
                [compareWith]="byId"
                required
                #fournisseurCtrl="ngModel"
              >
                <option *ngFor="let f of ingredients" [ngValue]="f">
                  {{ f.name }}
                </option>
              </select>
              <div *ngIf="fournisseurCtrl.invalid">
                *ingredient obligatoire si ajout
              </div>
            </div>
            <div class="form-group">
              <div class="divACoteFlex">
                <div class="text">Quantite:</div>
                <input
                  type="number"
                  class="form-control"
                  name="quantite"
                  id="quantite"
                  [(ngModel)]="recetteIngredient.quantite"
                  placeholder="Précision: pour une portion d'une personne"
                />
              </div>
            </div>

            <div class="divCentreFlex">
              <button type="submit">enregistrer l'ingrédient</button>
            </div>
          </div>
        </form>
      </div>

      <!--************************************ajout instruction*********************************-->
      <div id="list_instruction" *ngIf="id">
        <p class="text">Liste des étapes:</p>
        <ol>
          <ng-container *ngFor="let p of recette.instructionRecettes">
            <li>
              {{ p.instruction }}
            </li>
          </ng-container>
          <form (ngSubmit)="saveInstruction()" #form="ngForm">
            <div class="form-group">
              <div class="divACoteFlex">
                <div class="text">Nouvelle étape:</div>
                <input
                  class="form-control"
                  name="quantite"
                  id="quantite"
                  [(ngModel)]="instuctionRecette.instruction"
                  placeholder="Me cuire avec amour"
                  #control="ngModel"
                />
                <div *ngIf="control.invalid">*etape obligatoire si ajout</div>
              </div>

              <div class="divCentreFlex">
                <button type="submit">enregistrer l'instruction</button>
              </div>
            </div>
          </form>
        </ol>
      </div>

      <!--**************************************************************************************-->
      <div class="form-group">
        <div class="divACoteFlex">
          <div class="text">Cette recette est-elle correcte ?</div>
          <input
            class="form-control"
            name="isValid"
            id="isValid"
            [(ngModel)]="recette.isValid"
            required
            #isValidCtrl="ngModel"
          />
        </div>
        <div
          *ngIf="isValidCtrl.dirty && isValidCtrl.invalid"
          class="alert alert-danger"
        >
          Tu as oublié de repondre, la recette est-elle valide? :o
        </div>
      </div>

      <div class="divCentreFlex">
        <div class="divCentreFlex2">
          <div style="width: 65px">C'est une recette :</div>
          <div>
            <div class="form-check form-switch">
              <input
                class="form-check-input"
                type="checkbox"
                id="vegan"
                name="vegan"
                [(ngModel)]="recette.vegan"
              />
              <label class="form-check-label" for="flexSwitchCheckDefault"
                >vegan</label
              >
            </div>
            <div class="form-check form-switch">
              <input
                class="form-check-input"
                type="checkbox"
                id="vegetarien"
                name="vegetarien"
                [(ngModel)]="recette.vegetarien"
              />
              <label class="form-check-label" for="flexSwitchCheckChecked"
                >végétarienne</label
              >
            </div>
          </div>
        </div>
      </div>

      <div class="divCentreFlex">
        <button type="submit" [disabled]="form.invalid">enregistrer</button>
        <a routerLink="/recette" routerLinkActive="active">annuler</a>
      </div>
    </form>
  </div>
</div>
