<body>
  <div id="div-a1">
    <div>
      <img
        src="assets/images/image-connection/endive-sans-bg.png"
        alt="endive"
      />
    </div>
    <div>
      <img src="assets/images/image-connection/mais-sans-bg.png" alt="mais" />
    </div>
    <div>
      <img
        src="assets/images/image-connection/banane-sans-bg.png"
        alt="banane"
      />
    </div>
    <div>
      <img
        src="assets/images/image-connection/tomate-sans-bg.png"
        alt="tomate"
      />
    </div>
    <div>
      <img
        src="assets/images/image-connection/mangu-sans-bg.png"
        alt="mangue"
      />
    </div>
    <div>
      <img
        src="assets/images/image-connection/raisin-sans-bg.png"
        alt="raisin"
      />
    </div>
    <div>
      <img
        src="assets/images/image-connection/endive-sans-bg.png"
        alt="endive"
      />
    </div>
    <div>
      <img src="assets/images/image-connection/mais-sans-bg.png" alt="mais" />
    </div>
    <div>
      <img
        src="assets/images/image-connection/banane-sans-bg.png"
        alt="banane"
      />
    </div>
  </div>
  <br />
  <hr />
</body>
