body {
  height: max-content;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(102, 172, 38, 0.3) 10%,
    rgba(255, 255, 255, 0) 50%,
    rgba(102, 172, 38, 0.3) 90%,
    rgba(255, 255, 255, 0) 100%
  );
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 2%;
  width: 100%;
  padding-bottom: 10%;
}

#fenetre {
  margin-top: 10%;
  top: 50px;
  width: 70%;
  position: relative;
  border: 6px solid rgba(102, 172, 38, 1);
  border-radius: 40px;
  padding: 2%;
  background-color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

#div-a1 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#div-a1 p {
  padding-left: 10%;
  padding-right: 10%;
}

#title {
  width: 25%;
}

#image {
  width: 70%;
}

#div-a2 {
  display: flex;
  align-items: center;
  border-bottom: 2px solid rgba(102, 172, 38, 1);
}

#InfosBasique {
  width: 50%;
  padding: 2%;
}

#ingredients {
  border: 2px solid rgba(102, 172, 38, 1);
  border-radius: 20px;
  padding: 2%;
  width: 40%;
}

.backgroundOrange {
  background-color: rgba(224, 125, 42, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  height: 40px;
  font-size: 25px;
  color: white;
}

#instructions {
  padding: 2%;
  width: 100%;
  border-top: 1px solid rgba(102, 172, 38, 1);
}

ol li {
  padding-bottom: 15px;
}

.edition{
  align-items: center;
  font-size: 25px;
  color: white;
  background-color: rgba(102, 172, 38, 1);
  border-radius: 20px;
  text-align: center;
}
