


#background {
  margin-top: 1%;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
/*
#formulaire {
  margin-top: 10%;
  top: 50px;
  width: 50%;
  position: relative;
  border: 6px solid rgba(102, 172, 38, 1);
  border-radius: 40px;
  padding: 2%;
  background-color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.divCentreFlex {
  display: flex;
  justify-content: center;
}

#backgroundH2 {
  background-color: rgba(224, 125, 42, 1);
  padding: 1%;
  border-radius: 20px;
  width: 50%;
  margin-bottom: 5%;
}

h2 {
  text-align: center;
  vertical-align: middle;
}

.divACoteFlex {
  display: flex;
  margin-bottom: 2%;
}

.text {
  width: 50%;
  display: flex;
  align-items: center;
}

.divCentreFlex2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 30%;
}*/

button,
a {
  background-color: rgba(102, 172, 38, 1);
  color: white;
  border-radius: 10px;
  margin-top: 1%;
}

button:disabled {
  display: none;
}

button:hover {
  background-color: orange;

}

a {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  text-decoration: none;
}



