<app-page-home-background></app-page-home-background>
<body>
  <div id="div-a1">
    <div>
      <p>C'est quoi être VIP?</p>
      <ul>
        <li>Acces à la messagerie pour poser toutes vos questions.</li>
        <li>Faire des repas en foncton de votre frigo.</li>
        <li>Et plus encore...</li>
        <li>Améliorer votre vie est notre priorité!</li>
        <li>
          Seulement 10 euros pour mois pour les 100 premiers! (sinon 20 euros)
        </li>
      </ul>
    </div>
    <div>
      <a
        class="btnVert"
        href="https://www.paypal.com/fr/webapps/mpp/home"
        target="_blank"
        >Je prends l'abonnement!</a
      >
    </div>
  </div>
</body>
