body {
  margin-top: 9%;
  width: 76%;
  margin-left: auto;
  margin-right: auto;
}

#div-a1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#div-a1 div img {
  margin: 2%;
  opacity: 0.2;
}
