<div style="margin-top: 10%" class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow-lg p-5 mt-5 mb-5">
        <h1>Bienvenue !</h1>
        <br />
        <form (ngSubmit)="save()" [formGroup]="form">
          <ng-container formGroupName="groupeInfo">
            <div class="form-group">
              <label for="login">Nom d'utilisateur :</label>
              <input
                type="login"
                formControlName="login"
                class="form-control"
                placeholder="TiiToOnZ"
                required
              />
              <!--<div
                *ngIf="form.get('login')?.dirty && form.get('login')?.invalid"
                 class="alert alert-danger">
                 Probleme de login !
                </div>-->
            </div>
            <br />
            <ng-container formGroupName="groupePassword">
              <div class="form-group">
                <label for="password">Mot de passe :</label>
                <input
                  formControlName="password"
                  class="form-control"
                  placeholder="*******"
                  required
                />
                <!--<div
                  *ngIf="
                    form.get('groupeInfo.groupePassword.password')?.dirty &&
                    form.get('groupeInfo.groupePassword.password')?.invalid "class="alert alert-danger">
                  Probleme de mot de passe !
                </div>-->
              </div>
              <br />
              <div class="form-group">
                <label for="confirmation">Confirmation du mot de passe :</label>
                <input
                  formControlName="confirmation"
                  class="form-control"
                  placeholder="*******"
                  required
                />
                <!--<div
                    *ngIf="
                      form.get('groupeInfo.groupePassword')?.dirty &&
                      form.get('groupeInfo.groupePassword')?.invalid"class="alert alert-danger">
                    Probleme de confirmation !
                  </div>-->
              </div>
            </ng-container>
          </ng-container>
          <br />
          <div class="form-group">
            <label>Genre :</label><br />
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="genre"
                id="homme"
                value="homme"
                checked
              />
              <label class="form-check-label" for="homme"> Homme </label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="genre"
                id="femme"
                value="femme"
              />
              <label class="form-check-label" for="femme"> Femme </label>
            </div>
          </div>
          <br />
          <div class="form-group">
            <label for="age">Age :</label><br />
            <input
              type="number"
              formControlName="age"
              class="form-control"
              id="age"
              name="age"
            />
          </div>
          <br /><br />
          <div class="form-group">
            <label>Taille (en Cm) :</label><br />
            <input
              type="number"
              formControlName="taille"
              id="taille"
              name="taille"
              required
              placeholder="1"
            />Cm
          </div>
          <br /><br />
          <div class="form-group">
            <label>Poids :</label><br />
            <input
              type="number"
              formControlName="poids"
              id="poids"
              name="poids"
              required
              placeholder="70"
            />Kg
          </div>
          <br /><br />
          <div class="form-group">
            <label>Regime :</label><br />
            <div class="form-check">
              <input
                formControlName="vegetarien"
                class="form-check-input"
                type="checkbox"
                value="1"
                id="flexCheckVegetarien"
                checked
              />
              <label class="form-check-label" for="flexCheckVegetarien">
                Végétarien
              </label>
            </div>
            <div class="form-check">
              <input
                formControlName="vegan"
                class="form-check-input"
                type="checkbox"
                value="1"
                id="flexCheckVegan"
                checked
              />
              <label class="form-check-label" for="flexCheckVegan">
                Vegan
              </label>
            </div>
          </div>
          <br />
          <div class="form-group">
            <label>Activité Physique :</label><br />
            <input
              formControlName="activitePhysique"
              type="range"
              class="form-range"
              min="0"
              max="2"
            />
          </div>
          <br />
          <div class="form-group">
            <label>Compte VIP ?</label><br />
            <div class="form-check">
              <input
                formControlName="compteVIP"
                class="form-check-input"
                type="radio"
                name="compteVIP"
                id="oui"
                value="true"
                checked
              />
              <label class="form-check-label" for="oui"> Oui ! </label>
            </div>
            <div class="form-check">
              <input
                formControlName="compteVIP"
                class="form-check-input"
                type="radio"
                name="compteVIP"
                id="non"
                value="false"
              />
              <label class="form-check-label" for="non"> Non... </label>
            </div>
          </div>
          <br /><br />
          <div>
            <button class="btn btn-outline-success" type="submit">
              S'inscrire
            </button>
            <button
              class="btn btn-outline-warning"
              routerLink="/user/user"
              routerLinkActive="active"
            >
              Se connecter
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
