<header>
  <nav>
    <ul class="nav-list">
      <li>
        <a class="nav-link" routerLink="/home" routerLinkActive="active"
          ><img
            src="assets/images/discuissonLogo.png"
            alt="Logo"
            width="140px"
            height="108px"
            style="margin-left: 1%; padding-bottom: 1%"
        /></a>
      </li>
      <li>
        <a class="nav-link" routerLink="/concept" routerLinkActive="active"
          >Concept</a
        >
      </li>
      <li>
        <a class="nav-link" routerLink="/recette" routerLinkActive="active"
          >Recettes</a
        >
      </li>
      <li>
        <a class="nav-link" routerLink="/frigo" routerLinkActive="active"
          >Frigo</a
        >
      </li>
      <li>
        <a class="nav-link" routerLink="/message" routerLinkActive="active"
          >Messagerie</a
        >
      </li>
      <li>
        <a class="nav-link" routerLink="/ingredient" routerLinkActive="active"
          >Liste-Ingredients</a
        >
      </li>
      <li>
        <a class="nav-link" routerLink="/admin" routerLinkActive="active"
          >Partie Admin</a
        >
      </li>
      <li>
        <div>
          <a
            class="nav-link btnVert"
            routerLink="/login"
            routerLinkActive="active"
            >S'inscrire/Se connecter</a
          >
        </div>
      </li>
      <li>
        <!--
      <div>
        <button class="btn btn-link nav-link" (click)="logoff()">
          Déconnexion
        </button>
      </div>
      --></li>
    </ul>
  </nav>
  <hr />
</header>
