<body>
  <div class="div-z1">
    <div class="image">
      <img src="assets/images/platSite001.jpg" alt="PlatSite001" width="70%" />
    </div>
    <div id="div-b1">
      <div class="image">
        <img src="assets/images/discuissonLogo.png" alt="Logo" width="80%" />
      </div>
      <div id="div-c1">
        <p style="text-align: center" class="p-imp">
          Discuisson aide à consommer de saison tout en se régalant (et bien plus) !
        </p>
      </div>
    </div>
  </div>
  <hr />
  <p>
    Manger des fruits et légumes de saison, c’est s’assurer de meilleurs produits
    dans nos assiettes! C’est aussi soutenir l’économie locale tout en préservant
    notre santé. Plutôt intéressant non? On nous parle souvent de saisonnalité des
    fruits et légumes mais on se demande parfois quels en sont les vrais avantages.
    Nous vous avons concocté un petit résumé de tous les arguments pour vous aider
    à changer votre panier!


  </p> <br>
  <h2>Consommer de saison, c'est consommer local</h2>
  <p> <br>
    Consommer des fruits et légumes de saison, c’est privilégier les produits locaux qui n’ont pas à parcourir des milliers de kilomètres pour arriver sur les étals. Cela permet de les récolter à maturité. Par conséquent, ils ont un meilleur goût et ils renferment le plus de nutriments. De plus, manger des fruits et légumes de saison, c’est aussi stimuler l’économie locale et créer des emplois.
  </p>
  <h2>Les fruits et légumes de saison sont moins polluants</h2>
  <p>
    Réduire les produits importés de l’étranger, c’est aussi réduire les transports et la pollution que cela engendre. On estime que la distance moyenne d’un produit alimentaire aujourd’hui est entre 2400 et 4800 km… Soit 25% de plus qu’en 1980! Un fruit ou un légume hors saison consommerait entre 10 à 20 fois plus de pétrole pour son transport que le même fruit produit localement en saison. Par exemple, acheter 1 kg de fraises en hiver pourra consommer presque 5 litres de pétrole pour arriver dans notre assiette… De plus, manger des fruits et légumes hors saison encourage les cultures sous serre, gourmandes en eau et en énergie pour le chauffage.
  </p> <br>
  <h2>Ils sont meilleurs pour notre santé</h2>
  <p>
    Les fruits et légumes de saison correspondent mieux aux besoins nutritionnels de notre corps. En effet, ils nous apportent les nutriments essentiels en fonction des saisons. C’est le cas par exemple de l’orange ou la mandarine en janvier. Ce type de fruit nous apporte de la vitamine C dans une période où l’on manque de soleil et où le corps a besoin de booster le système immunitaire. Au contraire, en été, les concombres, melons, pastèques ou tomates sont gorgés d’eau. Ainsi, ils apportent à notre corps l’hydratation nécessaire sous les hautes températures.
  </p> <br>
  <h2>Ils ont plus de goût</h2>
  <p>
    Les amateurs de tomates sauront bien en parler! Les qualités gustatives des produits de saison n’ont rien à voir avec ceux qui ne le sont pas! Lorsque nous achetons nos produits français et de saison, nous pouvons les retrouver seulement quelque jours après leur récoltes sur les étals. Rien de tel que la saveur des fruits et légumes qui sont arrivés naturellement à maturité avec la lumière du soleil. Au contraire, les aliments importés sont souvent cueillis avant qu’ils arrivent à maturité. Ainsi, ils continuent de mûrir dans le frigo d’un bateau… Par ailleurs, ils sont souvent traités avec des produits facilitant sa conservation…
  </p> <br>
  <h2>En conclusion</h2>
  <p>
    Respecter la saisonnalité des fruits et légumes lors de notre consommation est donc essentiel pour notre planète, mais également pour rester en forme.
  </p>

  <hr />
  <div class="div-z2">
    <p class="p-imp2">
      Mais il est parfois difficile de connaître quels sont les ingrédients de saison, et comment bien les cuisiner. C'est là que Discuisson intervient.
    </p>
  </div>
  <hr /> <hr>
  <div class="image">
    <img src="assets/images/concept.jpg" alt="PlatSite001" width="30%" />
  </div> <br>

  <p>
    Discuisson est votre compagnon de tous les jours pour vous rendre le
    quotidien plus doux, plus savoureux, plus simple, plus vous.
  </p>
  <p>Des inspirations recettes pensées pour vous</p>
  <p>Quoi de plus gratifiant que de dire "c’est moi qui l’ai fait" ?</p>
  <p>
    Mieux manger, mieux consommer, sans gâchis et surtout au meilleur prix.
    Magique ? Non, juste Discuisson.
  </p>

  <div class="div-z1">
    <div class="div-z2">
      <p class="p-imp2">
        Discuisson vous promet un accompagement main dans la main ; vous serez
        suivi chaque jour par nos nutritionnistes qualifiés.
      </p>
    </div>
    <div class="div-z2" id="div-b2">
      <a
        class="nav-link btnVert"
        routerLink="/inscription"
        routerLinkActive="active"
        > Je veux!</a
      >
    </div>
  </div>
  <hr />

  <hr />
  <div class="div-z1">
    <div class="div-z2" id="div-b2">
      <a
        class="nav-link btnOrange"
        routerLink="/frigo"
        routerLinkActive="active"
        > FRIGO</a
      >
    </div>
    <div class="div-z2">
      <p class="p-imp3">
        Vous ne savez pas quoi manger avec ce qu’il reste dans votre frigo ?
        Venez découvrir la fonctionnalité innovante “le frigo” !
      </p>
    </div>

  </div>

  <div class="image">
    <img src="assets/images/frigo.png" alt="Frigo" height="200px" />
  </div>
  <br />
  <hr />
  <br /><br /><br /><br />
</body>
