<body>
  <div class="div-z1">
    <div class="image">
      <img src="assets/images/platSite001.jpg" alt="PlatSite001" width="70%" />
    </div>
    <div id="div-b1">
      <div class="image">
        <img src="assets/images/discuissonLogo.png" alt="Logo" width="80%" />
      </div>
      <div id="div-c1">
        <p style="text-align: center" class="p-imp">
          Discuisson vous aide à consommer non seulement de saison, mais aussi
          de vous régaler.
        </p>
      </div>
    </div>
  </div>
  <hr />
  <p>
    Ayant eu des problèmes de poids dans le passé, notre directrice a suivi un
    régime “Weight Watchers” mais qui n'a porté ses fruits. Les recettes (les
    fameux "Smartpoints") n'étaient pas faites pour elle. Elle a donc eu l'idée
    de créer ce service afin de mieux manger et peut-être même permettre à vous
    de faire un rééquilibrage alimentaire.
  </p>
  <p>
    Lors d’un sondage que nous avons réalisé, à la question “Pourquoi vous ne
    cuisinez pas ?”, la réponse “Parce que je n’ai pas d’idées” est arrivée en
    tête avec 44%, suivi de “Parce que je n’ai pas le temps” à 31%, et “Parce
    que je n’ai jamais ce qu’il fait dans le frigo” à 22%. On constate donc que
    le manque d’idées est vraiment un problème majeur chez une majorité d’entre
    nous ! Afin de vous aider à regorger d’idées pour pouvoir cuisiner maison,
    nous avons donc eu envie aujourd’hui de vous partager des recettes mous
    permettant de varier vos menus d’une journée à une autre.
  </p>
  <hr />
  <div class="div-z1">
    <div class="div-z2">
      <p class="p-imp">
        Discuisson vous promet un accompagement main dans la main ; vous serez
        suivi chaque jour par nos nutritionnistes qualifiés.
      </p>
    </div>
    <div class="div-z2" id="div-b2">
      <a
        class="nav-link btnVert"
        routerLink="/inscription"
        routerLinkActive="active"
        >Je veux!</a
      >
    </div>
  </div>
  <hr />
  <p>
    Discuisson est votre compagnon de tous les jours pour vous rendre le
    quotidien plus doux, plus savoureux, plus simple, plus vous.
  </p>
  <p>Des inspirations recettes pensées pour vous</p>
  <p>Quoi de plus gratifiant que de dire "c’est moi qui l’ai fait" ?</p>
  <p>
    Mieux manger, mieux consommer, sans gâchis et surtout au meilleur prix.
    Magique ? Non, juste Discuisson.
  </p>
  <hr />
  <div class="div-z1">
    <div class="div-z2">
      <p class="p-imp">
        Vous ne savez pas quoi manger avec ce qu’il reste dans votre frigo ?
        Venez découvrir la fonctionnalité innovante “le frigo” !
      </p>
    </div>
    <div id="div-b3">
      <div class="image">
        <img src="assets/images/frigo.png" alt="Frigo" height="200px" />
      </div>
      <div id="div-c2">
        <p>La Nouveauté: FRIGO</p>
      </div>
    </div>
  </div>
  <br />
  <hr />
</body>
