<footer>
  <div style="display: flex">
    <a href="#"
      ><img src="assets/images/logoFB.png" alt="logo Facebook" width="70%"
    /></a>
    <a href="#"
      ><img src="assets/images/logoINSTA.png" alt="Logo Instagram" width="70%"
    /></a>
  </div>
  <div id="div-a1">
    <div style="color: white">
      Copyright © 2000-2022 Discuisson. All rights reserved.
    </div>
    <div
      style="
        width: max-content;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
      "
    >
      <a href="#">Recrutement</a>
      <a href="#">Mentions légales</a>
      <a href="#">Conditions Générales d'Utilisation</a>
      <a href="#">Conditions Générales d'Abonnement</a>
      <a href="#">Contact</a>
      <a href="#">FAQ</a>
      <a href="#">Politique de protection des données personnelles</a>
      <a href="#">Paramétrer les cookies</a>
    </div>
  </div>
</footer>
