<body>
  <div id="div-b2">
    <form (ngSubmit)="chercher()" [formGroup]="form">
      <ng-container formGroupName="groupeing">
        <div id="div-c1">
          <ul class="nav-list">
            <!--<li>
              <input
              type="number"
              formControlName="search"
              class="form-control"
              placeholder="Autoriser si il X objets (aliments+quantités) ne corresponde pas a mon frigo"
            /> <button class="btn btnVert" type="submit">Go</button>
            </li>-->

            <li>
              <a (click)="reinit()" class="btn btnVert"
                ><span style="color: white">Réinitialiser ma selection</span></a
              >
            </li>
            <li>
              <a
                routerLink="/frigo"
                routerLinkActive="active"
                class="btn btnVert"
                style="width: 300px"
                ><span style="color: white">Retourner au frigo</span></a
              >
            </li>
          </ul>
        </div>
      </ng-container>
    </form>
  </div>

  <div class="liste_recettes">
    <div class="wrapper">
      <div class="auto-grid">
        <div class="recette" *ngFor="let p of recettesSelection">
          <a
            class="nav-link"
            routerLink="/recette/details/{{ p.id }}"
            routerLinkActive="active"
            ><img
              src="assets/images/{{ p.id }}.jpg"
              width="300px"
              height="300px"
          /></a>
          <ul>
            {{
              p.name
            }}
          </ul>
          <ul>
            Note
            {{
              p.note
            }}
          </ul>
          <ul>
            Temps de préparation
            {{
              p.tempsDeCuisine
            }}
          </ul>
        </div>
      </div>
    </div>
  </div>
</body>
