<table class="table">
  <thead>
    <tr>
      <th>id:</th>
      <th>text:</th>
      <th>envoyeur:</th>
      <th>receveur:</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let message of messagesObservable | async">
      <td>{{ message.id }}</td>
      <td>{{ message.text }}</td>
      <td>{{ message.envoyeur }}</td>
      <td>{{ message.recepteur }}</td>
      <td>
        <a
          routerLink="/message/edit/{{ message.id }}"
          routerLinkActive="active"
          class="btn btn-outline-primary"
          >editer</a
        >
      </td>
      <td>
        <button
          class="btn btn-outline-danger"
          (click)="delete(message.id!)"
        >
          supprimer
        </button>
      </td>
    </tr>
  </tbody>
</table>
<a routerLink="/fournisseur/edit" routerLinkActive="active" class="btn btn-link"
  >nouveau message</a
>
