<div id="background">
  <div id="formulaire">
    <form (ngSubmit)="save()" #form="ngForm">
      <div class="divCentreFlex">
        <div id="backgroundH2">
          <h2 *ngIf="!admin.id">Création d'un admin</h2>
          <h2 *ngIf="admin.id">Mise à jour d'un admin</h2>
        </div>
      </div>

      <div class="form-group" *ngIf="admin.id">
        <div class="divACoteFlex">
          <div class="text">Mon id est...</div>
          <input
            class="form-control"
            name="id"
            id="id"
            [(ngModel)]="admin.id"
            readonly
          />
        </div>
      </div>

      <div class="form-group">
        <div class="divACoteFlex">
          <div class="text">Mon login est...</div>
          <input
            class="form-control"
            name="name"
            id="name"
            [(ngModel)]="admin.login"
            required
            placeholder="pomme, salade, cuisse de grenouille, etc..."
            #nameCtrl="ngModel"
          />
        </div>
        <div
          *ngIf="nameCtrl.dirty && nameCtrl.invalid"
          class="alert alert-danger"
        >
          Tu as oublié mon login :o
        </div>
      </div>

      <div class="form-group" *ngIf="!admin.id">
        <div class="divACoteFlex">
          <div class="text">Mon password est...</div>
          <input
            class="form-control"
            name="name"
            id="name"
            [(ngModel)]="admin.password"
            required
            placeholder="pomme, salade, cuisse de grenouille, etc..."
            #nameCtrl="ngModel"
          />
        </div>
        <div
          *ngIf="nameCtrl.dirty && nameCtrl.invalid"
          class="alert alert-danger"
        >
          Tu as oublié mon password :o
        </div>
      </div>

      <div class="divCentreFlex">
        <button type="submit" [disabled]="form.invalid">enregistrer</button>
        <a routerLink="/admin" routerLinkActive="active">annuler</a>
      </div>
    </form>
  </div>
</div>
